<table class="table">
<tr>
    <th>Email</th>
    <th>Age</th>
    <th>Comments</th>
</tr>
<% @users.each do |user| %>
<tr>
    <td><%= user.email %></td>
    <td><%= user.age %></td>
    <td><%= user.comment %></td>
</tr>
<% end %>
</table>