<h1>El resultado de la suma es
    <%= params[:x].to_i + params[:y].to_i%>
</h1>
<form method="get" action="/pages/create">
    email: <input name="email">
    age: <input name="age" type="number">
    comment: <textarea name="comment"></textarea>
    <input type="submit" value="Enviar">
</form>
