<h1>Form 3.0</h1>

<form method="get" action="/pages/create">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input name="email" class="form-control" id="email" aria-describedby="emailHelp" 
               place-holder="Enter email">
        <small id="emailHelp" class="form-text text-muted">
            We'll never share your email with anyone else.
        </small>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input name="age" type="number" class="form-control">
    </div>
    <div class="form-group">
        <label for="comment">Comments</label>
        <textarea name="comment" class="form-control"></textarea>
    </div>

    <div class="form-group py-1">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
